<div class="container-fluid">
  <div class="col-md-12">
    <div
      *ngIf="showAlert"
      class="alert alert-warning alert-dismissible fade show"
      role="alert"
    >
      <strong>No Employee Found</strong> with the ID
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="Close"
        (click)="showAlert = false"
      ></button>
    </div>
    <div class="row table-responsive">
      <!-- Employees List -->
      <table class="table table-bordered table-hover table-striped">
        <thead>
          <tr>
            <th>Employee ID</th>
            <th>Full Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Gender</th>
            <th>Date of Joining</th>
            <th>Department</th>
            <th>Designation</th>
            <th>Employee Type</th>
            <th>Salary</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let employee of allEmployees">
            <td>{{ employee.employeeId }}</td>
            <td>{{ employee.fullName }}</td>
            <td>{{ employee.email }}</td>
            <td>{{ employee.phone }}</td>
            <td>{{ employee.gender }}</td>
            <td>{{ employee.dateOfJoining | date }}</td>
            <td>{{ employee.departmentName }}</td>
            <td>{{ employee.designationName }}</td>
            <td>{{ employee.employeeType }}</td>
            <td>{{ employee.salary }}</td>
            <td>
              <button
                style="margin-right: 5px"
                class="btn btn-primary"
                (click)="editEmployee(employee.employeeId)"
              >
                Edit
              </button>
              <button
                style="margin-right: 5px"
                class="btn btn-info"
                (click)="deleteEmployee(employee.employeeId)"
              >
                Delete
              </button>
              <button
                class="btn btn-secondary"
                (click)="displayEmployee(employee.employeeId)"
              >
                View
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
