* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.app-wrapper {
    background: linear-gradient(135deg, #ff6f61, #d6a4a4);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

button {
    padding: 0.5rem;
    margin: 1rem;
}

.error-title {
    font-size: 6rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.error-message {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}